{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
</head>
<body>
<div class="container">
    <h1>My Todo List</h1>
    <div class="todo-input">
        <form action="" method="post">
            {% csrf_token %}
            <input type="text" id="todo-input" name="task" placeholder="Add a new task..." required>
            <button id="add-btn">Add</button>
        </form>
    </div>
    <ul id="todo-list">
        {% for todo in todos %}
            <li>
                <span>
                    {{todo.title}}
                </span>
                <a href="{% url 'delete' todo.id %}">delete</a>
            </li>
        {% endfor %}
    </ul>
</div>
<!--<script src="{% static 'js/index.js'%}"></script>-->
</body>
</html>
